<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmw.crm.dao.UserMapper">

    <resultMap id="BaseResultMap" type="com.dmw.crm.dto.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userPwd" column="user_pwd" jdbcType="VARCHAR"/>
            <result property="trueName" column="true_name" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="isValid" column="is_valid" jdbcType="INTEGER"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,user_pwd,
        true_name,email,phone,
        is_valid,create_date,update_date
    </sql>
    <select id="queryUserByUserName" resultType="com.dmw.crm.dto.User" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include> from t_user where is_valid =1 and user_name = #{username}
    </select>

    <select id="selectByPrimaryKey" resultType="user" parameterType="int">
        select <include refid="Base_Column_List"></include> from t_user where id = #{userId}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="user">
        update t_user set user_pwd =  #{userPwd},update_date = #{updateDate} where id = #{id}
    </update>
</mapper>
